---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 2
IndentCaseLabels: true
AccessModifierOffset: -4
NamespaceIndentation: None
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<juce_'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '^"'
    Priority: 3
...

